* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.text {
  font-size: 24px;
  line-height: 35px;
  font-family: "Oxygen";
}
.text .title {
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 2px;
  font-family: "Lora";  
  font-weight: lighter;
  margin-top: 100px; 
}
.card-link {
  text-decoration: none;
}
.text .subtitle {
    opacity: 63%;
    font-size: 17px;
    line-height: 20px;
    margin-top: 30px;
    margin-bottom: 120px; 
    color: #2E2E2E;
}
.text .main.text {
  color: #101315;
  text-align: start;
  padding: 140px 240px 100px 240px;
  font-weight: 100;
  background-color: #f7f7f7;
}
.Polar.Lights {
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 534px;
  background-image: url("../../img/main/polar.png");
  background-repeat: no-repeat;
}
.footer {
  height: 89px; 
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/footer/footer-background.png");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer-container {
  margin: 0 auto;
}
.nav {
  list-style-type: none;
  font-family: "Oxygen", sans-serif;
  font-size: 11px;
  line-height: 26px;
  letter-spacing: 1px;
  margin-left: 320px;
  display: inline-flex;
}
.nav-item {
  text-decoration: none;
  color: #ffffff;
  margin: 0px 20px; 
}
.panel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__menu-list {
  display: inline-flex;
  list-style-type: none;
  font-family: "Oxygen", sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  margin-left: 563px;
}
.header__menu-link {
  text-decoration: none;
  color: #2E2E2E;
  margin: 0px 10px;   
}
.Escape-footer {
  font-family: "Lora", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 100px;
  text-decoration: none;
  color: #ffffff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 74px;
}
.header__menu {
  text-align: center;
}
.escape {
  font-family: "Lora", sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: 100px;
  text-decoration: none;
  color: #2E2E2E; 
}